@font-face {
    font-family: 'League Gothic';
    src: url(../fonts/LeagueGothic-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-display: swap;
}

:root {
    --main-font: 'Montserrat';
    --second-font: 'Oswald';
    --titles-font: 'League Gothic';
    --pallete-green: #8BC74B;
    --pallete-red: #EE3234;
    --pallete-violet: #AD3173;
    --pallete-violet-dark: #472d65;
    --pallete-violet-light: #A2B1DA;
    --pallete-pink: #EA85BF;

    --pallete-portfolio-first: #493165;
    --pallete-portfolio-second: #ded0e7;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

h1, h2, h3 {
    font-family: var(--titles-font);
}

.fs-1gg {
    font-size: 4.5rem !important;
}

.logo {
    height: 80px;
}

.logo-big {
    height: 104px;
}

.navbar-brand, .navbar-brand img {
    margin: 0;
}

a i.fab {
    color: var(--pallete-violet-dark);
}

i.fab {
    transition: transform .5s;
}

i.fab:hover {
    transform: scale(1.1);
}

i.fa-15x {
    font-size: 1.5rem;
}

section#header {
    margin-top: 123px;
}

section#header h1 {
    font-family: var(--main-font);
    color: var(--pallete-portfolio-first);
}

section#header h1 .title {
    line-height: 96px;
    font-size: 5.5rem;
    font-weight: bold;
}

section#header h1 .subtitle {
    font-size: 1.5rem;
}
nav ul a {
    display: inline-block; 
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
} 

nav ul a:after {
    content: '';
    background: var(--pallete-violet-light); 
    height: 3px;
    position: absolute;
    bottom: 0;
}

/* Underline goes to the right */
nav ul a.go-right:after { transition: .33s all; width: 0; left: 100%; }
nav ul a.go-right:hover:after { transition: .33s width; width: 100%; left: 0; }

nav ul a.go-right:hover:after {
    transition: 0.33s width;
    width: 100%;
    left: 0;
  }

section#aboutMe {
    background-color: var(--pallete-portfolio-second);
    /* background-image: linear-gradient(to right, #a2b1da, #ada9de, #c09fdc, #d592d1, #ea85bf); */
}

section#aboutMe > div {
    width: 100vw;
    padding: 80px .5rem;
}

section#aboutMe div img#profile {
    height: 40vh;
    box-shadow: 32px 32px var(--pallete-violet-dark);
    -moz-box-shadow: 32px 32px  var(--pallete-violet-dark);
    -webkit-box-shadow: 32px 32px  var(--pallete-violet-dark);
    -o-box-shadow: 32px 32px  var(--pallete-violet-dark);
}

section#aboutMe div #aboutMeText {
    margin-right: 10%;
    height: fit-content;
}

section#aboutMe button {
    background-color: var(--pallete-green);
}

section#acompanhamentoNutricional img {
    object-fit: cover;
    width: 252px;
    height: 252px;
    border-radius: 24px;
}

section#acompanhamentoNutricional img:not(:first-child) {
    margin-top: 24px;
}

section#acompanhamentoNutricional div.box {
    display: block;
    height: 80px;
}

.iFEZzR {
    font-family: var(--titles-font) !important;
    font-size: 3.5rem !important;
    color: var(--mdb-body-color) !important;
    font-weight: normal !important;
}

footer {
    background-color: var(--pallete-portfolio-second);
    color: white;
}

footer div#footerHi {
    background-color: var(--pallete-violet-dark);
}

i.heart {
	color: white;
	animation: beat 1s infinite alternate;
	transform-origin: center;
    padding: 0 4px;    
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.2); }
}


/* medium */
@media screen and (max-width: 768px) {
    h2, h3 {
        font-size: 3.5rem !important;
    }

    nav #navbarLogo {
        height: 48px;
    }

    section#header {
        margin-top: 83px;
    }

    section#header h1 .title {
        font-size: 4rem;
    }

    section#aboutMe > div {
        flex-direction: column-reverse;
        padding: 40px .5rem;
    }

    section#aboutMe div img#profile {
        margin-bottom: 64px;
        height: 35vh;
    }

    section#aboutMe div #aboutMeText {
        padding: 0 16px;
        margin-right: 0;
        text-align: center;
        font-size: 2rem !important;
    }

    section#aboutMe div #aboutMeText p,
    section#acompanhamentoNutricional p {
        font-size: 1.1rem !important;
        text-align: center;
    }

    section#acompanhamentoNutricional h3 {
        margin-top: 3.5rem;
        text-align: center;
    }

    section#acompanhamentoNutricional img {
        object-fit: cover;
        width: 150px;
        height: 150px;
    }

    section#acompanhamentoNutricional div.box {
        display: block;
        height: 40px;
    }

    section#googlEevaluation {
        padding-top: 0 !important;
    }

    footer #footerLogo {
        justify-content: center !important;
    }
}
