section.aboutMe {
    background-color: var(--pallete-portfolio-second);
    padding: 48px .5rem;
    margin: 3rem 0;
    z-index: 1;
}

section.aboutMe button.callToAction {
    max-width: 400px;
}

section.aboutMe div.image-container {
    display: block;
    width: 90%;
    margin: auto;
}

section.aboutMe div img {
    box-shadow: 24px 24px var(--pallete-violet-dark);
    -moz-box-shadow: 24px 24px  var(--pallete-violet-dark);
    -webkit-box-shadow: 24px 24px  var(--pallete-violet-dark);
    -o-box-shadow: 24px 24px  var(--pallete-violet-dark);
}

section.aboutMe div .aboutMeText {
    padding: 1.5em;
    padding-right: 52px;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 480px) {
    section.aboutMe {
        padding: 16px 12px;
        margin: 0;
    }

    section.aboutMe div .aboutMeText {
        padding: 16px;
    }

    section.aboutMe div.row {
        flex-direction: column-reverse;
    }
}
