section.portfolio div.white {
    background-color: var(--pallete-portfolio-second);
    color: var(--pallete-portfolio-first);
    border-radius: 24px;
}

section.portfolio .container h3 {
    color: var(--pallete-portfolio-first);
    font-size: 3rem;
}

section.portfolio {
    margin: 3rem;
}

section.portfolio div.portfolio-container {
    padding: 3rem 1rem;
}

section.portfolio button {
    background-color: var(--pallete-portfolio-first);
}

@media only screen and (max-width: 480px) {
    section.portfolio {
        margin: 16px;
    } 
    
    section.portfolio h3 {
        font-size: 2rem !important;
    }   

    section.portfolio div.portfolio-container {
        padding: 1rem;
    }
}