section.social-proof div.opinion {
    border-radius: 24px;
    padding: 32px;
    border: 1px var(--pallete-portfolio-second) solid;
    transition: all .5s;
}

section.social-proof div.opinion .opinion-content {
    text-align: left;
}

section.social-proof a {
    color: var(--mdb-link-color);
}

section.social-proof a.link-avaliacao {
    font-size: .8rem;
}

section.social-proof a:hover {
    text-decoration: underline;
}
