section.contato div.box {
    display: block;
    min-height: 300px;
}

section.contato div.box > div {
    border-radius: 24px;
    border: 1px var(--pallete-portfolio-first) solid;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.75);

}

section.contato div.box > div i.icon {
    font-size: 3.5rem;
    color: var(--mdb-body-color);
}

section.contato div.box .Dietbox > div {
    height: 3.5rem;
    width: 3.5rem;
    opacity: .7;
}

section.contato div.box > div i.icon:hover {
    transform: scale(1);
} 

section.contato div.box > div img.icon {
    height: calc(3.5 * 16px);
}

/* section.contato div.box > div button {
    background-color: var(--pallete-portfolio-first);
    color: white;
    padding: 8px 0px;
    border: none;
    width: 80%;
    border-radius: 32px;
    font-size: 1rem;
} */

div.dietbox > div {
    height: 3.5rem;
    width: 4rem;
} 

hr {
    width: 90%;
    border-radius: 4px;
    border: 1px var(--pallete-portfolio-first) solid;
    opacity: 1;
}

section.header.address {
    margin: 0;
    font-size: 3.5rem;
}

section.header.address p {
    font-size: 1rem;
}

iframe {
    width: 100%;
    height: 500px;
}