div.action-banner-image-container {
    height: fit-content;
}

div.action-banner-image-container svg{
    height: 320px;
}

section.action-banner div.action-banner-box {
    padding: 40px;
    border-radius: 24px;
    background-color: var(--pallete-portfolio-second);
    color: var(--pallete-portfolio-first);
}