header.header h1, 
header.header h2 {
    font-family: var(--main-font);
    color: var(--pallete-portfolio-first);
}

header.header h1 .title,
header.header h2 .title {
    line-height: 96px;
    font-weight: bold;
    font-size: var(--title-font-size);
}

header.header h1 .subtitle,
header.header h2 .subtitle {
    font-size: var(--subtitle-font-size);
}